<%- contentFor('header') %>
<h1> Pagină necunoscută </h1>

<%- contentFor('body') %>
<div class="center-container">
    <p class="huge">404</p>
    <p>Pagina cerută nu există pe acest server</p>
</div>

<style>
    .huge {
        font-size: 4em;
        font-weight: 700;
    }
</style>
