<%- contentFor('header') %>
<h1><%= _locals.title %></h1>

<%- contentFor('body') %>
<% if (user && user.username) { %>
<p>Pagina de index</p>
<% } else { %>
<p>Pagina de autentificare poate fi accesată dând click <a href="/auth">aici</a>.</p>
<% } %>
